<html lang="en"><head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Registering new User</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <style>
        body{
            background-color: #3e3e3e;
            color: white;
        }
        .container{
            background-color: #3e3e3e;
            color: white;
            max-width: 400px;
        }
        .form-registration-heading{
            align-self: center;
            border-spacing: 20px;
        }
        h2{
            background-color: #3e3e3e;
            color: white;
            align-self: inherit;
            margin-bottom: 2rem;
        }
    </style>
    <script src="js/jquery-3.4.1.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

    <!-- Main Script -->

</head>
<body>
<div class="container">
    <form id="Customer-Form" class="customer-registration"   >
        <h2 class="form-registration-heading">Time to set up you're customer details</h2>
        <p>
            <label for="First-Name" class="sr-only">First Name</label>
            <input type="text" id="First-Name" name="First-Name" class="form-control" placeholder="First-Name"  autofocus="">
        </p>
        <p>
        </p>
        <p>
            <label for="Last-Name" class="sr-only">Last Name</label>
            <input type="text" id="Last-Name" name="Last-Name" class="form-control" placeholder="Last-Name"  autofocus="">
        </p>
        <p>
        </p>
        <p>
            <label for="Address" class="sr-only">Address</label>
            <input type="text" id="Address" name="Address" class="form-control" placeholder="Address"  autofocus="">
        </p>
        <p>
        </p>
        <p>
            <label for="Email" class="sr-only">Email</label>
            <input type="text" id="Email" name="Email" class="form-control" placeholder="Email"  autofocus="">
        </p>
        <p>
        </p>
        <p>
            <label for="Date-of-Birth" class="sr-only">Date of Birth</label>
            <input type="date" id="Date-of-Birth" name="Date-of-Birth" class="form-control" placeholder="Date-of-Birth"  autofocus="">
        </p>
        <p>
        </p>
        <button class="btn btn-block" style="color: #2a6496" id="nextButton" type="button">Finish</button>
    </form>
</div>
<script src="https://code.jquery.com/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="js/CustomerRegister.js"></script>

</body></html>